<div id="clearance" class="sign-in">
  <h2 style="text-align:center"><%= t(".title") %></h2>
<div class="container" style="display:flex; justify-content: center">
  <%= render partial: '/sessions/form' %>
</div>
</div>
