<div id="clearance" class="sign-up">
  <h2 style='text-align:center'><%= t(".title") %></h2>
<div class="container" style="display:flex; justify-content: center">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <%= form_for @user do |form| %>
        <%= render partial: '/users/form', object: form %>

        <br/>
        <div class="submit-field">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>

      <% end %>
      </div>
    </div>
  </div>
</div>
