<div class="jumbotron">
  <h1 class="display-4">Welcome to Airbnb!</h1>
  <p class="lead">Travel the world, Meet new people, Experience different cultures!</p>
  <hr class="my-4">
  <p>Brought to you by bella</p>
  <a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a>
</div>